.titulo {
    font-size: 80px;
    margin: 20px;
}

.botonIng {
    margin-left: 20px;
    border-radius: 5px;
}

.tabla01 {
    margin: 20px;
}

.tabla {
    border-radius: 10px;
    width: 90%;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
}

.tabla th,
.tabla td {
    padding: 10px;
    text-align: center;
}

.tabla th {
    background-color: #f2f2f2;
}

.tabla tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

/* clientes.css */

/* Estilos para los botones de editar y eliminar */
.tabla button {
    border-radius: 10px;
    border: 1px solid #8B4513; 
}

/* Estilos para los elementos th */
.tabla th {
    color: #605044; /* Texto en blanco */
}

/* clientes.css */

/* Estilos para los botones de editar y eliminar */
.tabla button {
    border-radius: 5px; /* Borde redondo */
    padding: 5px 10px; /* Ajuste del padding */
    border: none; /* Quita el borde */
    cursor: pointer; /* Cambia el cursor al pasar por encima */
    background-color: white;
}

.tabla button:hover {
    background-color: lightgray;
}

/* clientes.css */

.formulario {
    display: flex;
    flex-direction: column;
}

.fila {
    display: flex;
    align-items: center;
    margin-bottom: 10px; /* Espacio entre filas */
}

.concepto {
    flex: 1; 
    text-align: left;
    margin-left: 250px;
}

.entrada {
    flex: 2; /* El campo de entrada "entrada" ocupará el doble de espacio que la etiqueta "concepto" */
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 8px;
    text-align: right;
    margin-right: 250px;
}

.checkbox-container {
    display: flex;
    justify-content: left; /* Centra horizontalmente */
    align-items: left; /* Centra verticalmente */
    margin-left: 250px;
    margin-bottom: 10px; /* Espacio debajo del checkbox */
}

.boton-container {
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    margin-top: 20px; /* Espacio encima del botón */
}

.botonAcep{
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 8px;
    cursor: pointer; /* Cambia el cursor al pasar por encima */
    background-color: white;
    width: 830px;
}

.boton-container button:hover {
    background-color: lightgray;
}
